<?xml version="1.0" encoding="UTF-8"?>

<beans  
    xmlns="http://www.springframework.org/schema/beans"  
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"  
    xmlns:p="http://www.springframework.org/schema/p"  
    xsi:schemaLocation="http://www.springframework.org/schema/beans   
http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">  
  
<bean id="add" class="ConstructorDependentObj.Address">  
  <constructor-arg value="Indore" type="String" index="0" ></constructor-arg> 
  <constructor-arg value="MP" type="String" index="1" ></constructor-arg>
  <constructor-arg value="India" ></constructor-arg> 
  
  <property name="city" value="Ghaziabad"></property>  setter overrides constructor values
<property name="state" value="UP"></property>  
<property name="country" value="India"></property>  
  
 </bean>

<bean id="emp" class="ConstructorDependentObj.Employee">
<constructor-arg value="12"></constructor-arg>
<constructor-arg value="Purva"></constructor-arg>
<constructor-arg><ref bean="add"/></constructor-arg>

<property name="id" value="1"></property>  
<property name="name" value="Sachin Yadav"></property>  
<property name="address" ref="add"></property>  




</bean>



</beans>  
