<?xml version="1.0" encoding="UTF-8"?>

<beans  
    xmlns="http://www.springframework.org/schema/beans"  
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"  
    xmlns:p="http://www.springframework.org/schema/p"  
    xsi:schemaLocation="http://www.springframework.org/schema/beans   
http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">  
  
<bean id="Test" class="SetterDependencyInjMap.TestBean">  
<property name="id" value="1"></property>  
<property name="name" value="priya"></property>  
  </bean>
  
<bean id="Sample" class="SetterDependencyInjMap.SampleBean">  
<property name="stuData">
 <map>
		<entry key="Key 1" value="1"></entry>
		<entry key="Key 2" value="Java Ques"></entry>
		<entry key="Key 3" value="Spring ques"></entry>
	</map>
	</property>   
  
<property name="tb" ref="Test"></property>  
</bean>  
</beans>  
